.logo{
    color: aliceblue;
    font-family: 'CalSans';
    text-align: center;
    display: flex;
    align-content: start;
    font-size: 2rem;
}

a {
  text-decoration: none;
  color: aliceblue;
  transition: all 0.3s ease;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: aliceblue;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
}

.align-content-center{
  align-content: center;
}

.connex{
  cursor: pointer;
  color: aliceblue;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
}

.nav-container{
    display: flex;
}

.nav-list-items{
    margin: auto !important;
}

.nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

button:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.header {
  background: linear-gradient(147deg, #1e2227 20%, rgb(108 32 162), #03A9F4);
  padding: 15px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: static;
  z-index: 1000;
}