<div class="avis">
  <h2>Avis</h2>
  <p>Une liste d'avis de nos clients satisfaits!</p>
  <div *ngFor="let avis of avis">
    <app-avis-item [avis]="avis"></app-avis-item>
  </div>
</div>
  <footer>
    <div class="logo">PIXELGEAR</div>
    <div class="socials-container">
      <span><ng-icon name="bootstrapFacebook"></ng-icon></span>
      <span><ng-icon name="bootstrapInstagram"></ng-icon></span>
      <span><ng-icon name="bootstrapX"></ng-icon></span>
      <span><ng-icon name="bootstrapYoutube"></ng-icon></span>
    </div>
    <div class="pt-0">
      <a href="">conditions d'utilisation</a>
      <a href="">politique de confidentialité</a>
      <a href="">usage des cookies</a>
    </div>
    <div class="copyright-notice">
      © 2025 PIXELGEAR
    </div>
  </footer>
