.products{
  background: #17181a;
  padding: 2rem;
}

.product-list {
  padding: 20px;
  background-color: #f8f8f8;
}

.product-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: contain;
}

.product-details h3 {
  margin: 0;
  font-size: 18px;
}

.product-details p {
  margin: 5px 0;
  color: #555;
}

h2{
  background: linear-gradient(485deg, #bd42ff, #03A9F4 40%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
  color: aliceblue;
  font-weight: 300;
}