.product-list {
  padding: 20px;
  background-color: #f8f8f8;
}

.product-item {
  display: flex;
  align-items: center; /* Vertically center content */
  margin: 15px 0;
  background: linear-gradient(135deg, #7DF9FF, #8A2BE2); /* Gradient background */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px; /* Space between image and product details */
}

.product-details h3 {
  margin: 0;
  font-size: 18px;
}

.product-details p {
  margin: 5px 0;
  color: #555;
}


h3 {
  color: mediumpurple;
  text-shadow: dodgerblue 1px 1px;
}
